*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
sample/iosApp/Podfile.lock
sample/iosApp/Pods/*
sample/iosApp/iosApp.xcworkspace/*
sample/iosApp/iosApp.xcodeproj/*
!sample/iosApp/iosApp.xcodeproj/project.pbxproj
webview/webview.podspec
/convention-plugins/
keySec.gpg
sample/desktopApp/jcef-bundle
sample/desktopApp/cache
sample/desktopApp/DawnCache
sample/desktopApp/GPUCache
sample/desktopApp/*.log