name: Publish Wiki
on:
  push:
    branches:
      - feature/wiki_improvement
    paths-ignore:
      - sample

concurrency:
  group: publish-wiki
  cancel-in-progress: true

jobs:
  publish-wiki:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Generate Wiki
        run: ./gradlew dokkaHtmlMultiModule

      - name: Upload Wiki
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./build/dokka/htmlMultiModule
          branch: gh-pages-api
          force: true